
.manager header{
  display: flex;
  justify-content: space-between;
}
.manager header p{
  display: flex;
  flex-direction: column;
}
.manager header p strong{
  font-size: 1.5rem;
}
.manager header span{
  background: #2c2c2c;
  color: white;
  padding: 7px 12px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manager .con{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.manager .top, .manager .low{
  display: flex;
  gap: 2rem;
}
.manager .top div{
  background: #c7d0bd;
  width: 200px;
  height: 150px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.manager .top div svg{
  font-size: 1.5rem;
}

.manager .top div strong{
  font-size: 2rem;
}

.manager .low a{
  width: 200px;
  padding: 20px;
  height: 250px;
  border-radius: 40px;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: black;
}
.manager .low a svg{
  font-size: 600;
  font-size: 2rem;
}