@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family:  'Poppins', Arial, sans-serif;
}

:root{
  --pass : #0cd570;
  --theme: #3f4448;
}

.caps{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}
.tagCaps{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.1rem;
}

.cut, .cut3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cut3{
  -webkit-line-clamp: 3;
}

h4 sub{
  height: 3px;
  width: 50px;
  display: block;
  background: black;
}

.swiperNav{
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.swiperNav svg{
  font-size: 1.2rem;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  display: flex;
  flex-direction: column;
}
h3 sub{
  display: block;
  width: 100px;
  height: 4px;
  background: black;
}

.managerPage{
  display: flex;
  justify-content: flex-end;
}
.managerPage main{
  width: 75%;
  height: 90vh;
  padding: 5vh 2.5%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.managerForm{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.managerForm input, .managerForm textarea{
  width: calc(100% - 30px);
  background: #F2F2F2;
  padding: 5px 15px;
  border-radius: 10px;
}
.managerForm input{
  height: 33px;
}

.managerForm textarea{
  resize: none;
  height: 90px;
}