@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family:  'Poppins', Arial, sans-serif;
}

:root{
  --pass : #0cd570;
  --theme: #3f4448;
}


body::-webkit-scrollbar{
  width: 8px;
  border-radius: 100px;
  background: #3f4448;
}
body::-webkit-scrollbar-thumb{
  border-radius: 100px;
  background: lightgray;
}

.caps{
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}
.tagCaps{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.1rem;
}

.cut, .cut3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cut3{
  -webkit-line-clamp: 3;
}

h4 sub{
  height: 3px;
  width: 50px;
  display: block;
  background: black;
}

.swiperNav{
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.swiperNav svg{
  font-size: 1.2rem;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3{
  display: flex;
  flex-direction: column;
}
h3 sub{
  display: block;
  width: 100px;
  height: 4px;
  background: black;
}

.managerPage{
  display: flex;
  justify-content: flex-end;
}
.managerPage main{
  width: 75%;
  min-height: 90vh;
  padding: 5vh 2.5%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.managerForm{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.managerForm input, .managerForm textarea{
  width: calc(100% - 30px);
  background: #F2F2F2;
  padding: 5px 15px;
  border-radius: 10px;
}
.managerForm input{
  height: 33px;
}

.managerForm textarea{
  resize: none;
  height: 90px;
}

.managerForm label{
  background: salmon;
  padding: 5px 5px;
  width: 200px;
  color: white;
  font-size: 0.9rem;
  border-radius: 40px;
}

.managerForm button{
  background: var(--pass);
  color: white;
  padding: 10px;
  cursor: pointer;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}


.vTour{
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  background: salmon;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;
  cursor: pointer;
  animation: bounce 2s infinite;
  z-index: 1000;
}

.vTour svg{
  font-size: 1.5rem;
}

.vTour small{
  font-size: 0.5rem;
}

@media all and (max-width: 650px){
  .vTour{
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
  }
}