.headBox {
  position: relative;
  width: calc(100% - 40px);
  height: 77vh;
  margin: 20px;
}

.headBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
  z-index: 100;
}

.headBox .placeholder {
  object-fit: cover;
  z-index: 10;
  border-radius: 20px;
}

.headBoxCon {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.headBoxConNav {
  height: 8vh;
  background: #ffffffcb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  justify-content: space-between;
}

.headBoxConNav .logoBox {
  position: relative;
  height: 90%;
  width: 90px;
}

.headBoxConNav svg {
  display: none;
}

.headBoxConNav .inquireBox {
  background: salmon;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.inquireBox{
  cursor: pointer;
}

.headBoxConNav nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headBoxConNav nav a {
  color: black;
}

.headBoxConNav,
.headBoxCon article,
.headBoxConExplore {
  padding-right: 25px;
  padding-left: 25px;
}

.headBoxCon article {
  display: flex;
  max-width: 35%;
  flex-direction: column;
}



.headBoxCon article strong {
  font-size: 2rem;
  color: white;
}

.headBoxCon article small {
  color: white;
}

.headBoxConExplore {
  display: flex;
  gap: 1rem;
}

.headBoxConExplore p {
  padding: 2px 7px;
  border-radius: 8px;
  background: white;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.headBoxConExplore p svg {
  font-size: 1.2rem;
  color: var(--pass);
}

.headBoxConExplore a {
  background: var(--pass);
  color: white;
  padding: 5px 8px;
  border-radius: 8px;
}

.brochureBox{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.47);
}
.brochureBox, .brochureBox .con{
  display: flex;
  align-items: center;
  justify-content: center;
}
.brochureBox .sheet{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.brochureBox .imgBox{
  width: 50%;
  height: 80vh;
  position: relative;
  z-index: 200;
}


.brochureBox legend{
  background: var(--pass);
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  z-index: 10;
}
.brochureBox legend svg{
  cursor: pointer;
  font-size: 1.5rem;
}

.brochureBox .imgBox img{
  object-fit: contain;
}

.featureBox,
.aboutBox,
.facilityBox,
.blogBox,
.testimonialBox,
.mapBox .contactCon {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.featureBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0;
  padding-bottom: 30px;
  position: relative;
  align-items: center;
}

.featureBox legend:nth-last-child(1),
.facilityBox sub:nth-last-child(1) {
  position: absolute;
  top: 50%;
  left: calc(10% - 25px);
}

.featureBox legend:nth-last-child(2),
.facilityBox sub:nth-last-child(2) {
  position: absolute;
  top: 50%;
  right: calc(10% - 25px);
  rotate: 180deg;
}

.featureBoxSwiper {
  width: 100%;
  height: 350px;
}

.feature {
  position: relative;
  width: 100%;
  height: 100%;
}

.feature img {
  object-fit: cover;
  border-radius: 20px;
}

.feature a {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  border-radius: 0 0 20px 0;
  background: rgba(0, 0, 0, 0.566);
  display: flex;
  align-items: center;
  color: rgb(255, 244, 224);
}

.feature a svg {
  font-size: 1.5rem;
}


.aboutBox,
.blogBox {
  background: #F8F8FF;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.aboutBox section {
  height: 45vh;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}


.aboutBox section .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutBox section .left p {
  color: #4F4F4F;
}

.aboutBox section .right {
  position: relative;
  height: 100%;
}

.aboutBox section .right img {
  border-radius: 20px;
  object-fit: cover;
}

.aboutBox article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutBox article p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.aboutBox article p legend {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pass);
  border-radius: 50%;
}

.aboutBox article p legend svg {
  font-size: 1.3rem;
  color: white;
}

.showBox {
  width: 100%;
  display: grid;
  background: #F8F8FF;
  grid-template-columns: 2fr 1.8fr 2fr;
}

.showSwiper {
  width: 100%;
  height: 100%;
}

.showBox article {
  padding: 20px;
}

.showBox article p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.showBox article p span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.showBox article p span svg {
  color: var(--pass);
}

.showBox img {
  object-fit: cover;
}

.facilityBox,
.testimonialBox {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.facilityBoxSwiper {
  width: 100%;
  height: 200px;
}

.facility {
  height: calc(100% - 40px);
  padding: 20px;
  background: #2A263C;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.facility legend {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151129;
}

.facility legend svg {
  font-size: 1.5rem;
  color: var(--pass);
}

.facility span {
  color: white;
}

.blogBox header {
  display: flex;
  justify-content: space-between;
}

.blogBox header button {
  background: var(--pass);
  color: white;
  padding: 5px 10px;
  border-radius: 40px;
  cursor: pointer;
}

.blogBox section {
  width: 100%;
  height: 350px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.blogBox section a {
  color: black;
}

.blogBox section .left {
  position: relative;
  padding: 20px;
  border-radius: 30px;
}

.blogBox section .left article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.432);
  width: calc(100% - 80px);
  padding: 20px;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  color: white;
}

.blogBox section .left p {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.blogBox section .left p span {
  display: flex;
  flex-direction: column;
}

.blogBox section .left p span sub {
  display: block;
  background: white;
  width: 100px;
  height: 1px;
}

.blogBox section .right {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}

.nextBlog {
  background: rgb(255, 237, 237);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  height: calc(100% - 30px);
  gap: 1.5rem;
}

.nextBlog .imgBox {
  height: 100%;
  min-width: 140px;
  position: relative;
}

.nextBlog p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.testimonialBoxSwiper {
  width: 100%;
  padding-bottom: 40px;
}

.testimonial {
  height: calc(100% - 42px);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid darkgray;
  color: #000;
}

.testimonial article {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.testimonial article p {
  display: flex;
  flex-direction: column;
}


.mapBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  background: #F1F3F4;
}

.mapBox .contactCon{
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.mapBox .contactCon .left{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/* .mapBox .contactCon .left */
.mapBox .contactCon .left div{
  display: flex;
  gap: 0.5rem;
}
.mapBox .contactCon .left div svg{
  font-size: 1.3rem;
  color: rgb(118, 118, 118);
}

.mapBox .contactCon .left article{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mapBox .contactCon .left article a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

.mapBox .contactCon .right{
  margin-top: auto;
  margin-left: auto;
}
.mapBox .contactCon .right form{
  position: relative;
  padding: 20px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  border-radius: 10px;
  background: var(--theme);
}
.mapBox .contactCon .right form legend{
  position: absolute;
  width: 40px;
  height:40px;
  background: var(--theme);
  border-radius: 50%;
  display: flex;
  align-items: center;
  top: -20px;
  left: calc(50% - 20px);
  display: flex;
  rotate: -90deg;
  align-items: center;
  justify-content: center;
}
.mapBox .contactCon .right form legend svg{
  font-size: 1.4rem;
  color: wheat;
}

.mapBox .contactCon .right form div{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.mapBox .contactCon .right form div span{
  color: white;
  font-size: 0.9rem;
}
.mapBox .contactCon .right form div input, .mapBox .contactCon .right form div textarea{
  width: 300px;
  padding: 10px 10px;
  background: var(--theme);
  border: 2px solid wheat;
  color: rgb(249, 234, 208);
}
.mapBox .contactCon .right form div textarea{
  height: 100px;
  resize: none;
}

.mapBox .contactCon .right form button{
  background: wheat;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 40px;
}


@media all and (max-width:1100px) {
  .headBoxCon article {
    max-width: 65%;
  }
}

@media all and (max-width:1000px) {
  .featureBox {
    padding-top: 0;
    padding-bottom: 0;
  }

  .featureBox legend:nth-last-child(1),
  .facilityBox sub:nth-last-child(1) {
    display: none;
  }

  .featureBox legend:nth-last-child(2),
  .facilityBox sub:nth-last-child(2) {
    display: none;
  }

  .featureBox,
  .aboutBox,
  .facilityBox,
  .blogBox,
  .testimonialBox, 
  .mapBox .contactCon
  {
    width: calc(100% - 40px);
    padding-right: 20px;
    padding-left: 20px;
  }

  .mapBox .contactCon{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .mapBox .contactCon .left{
    gap: 0.8rem;
  }
  .mapBox .contactCon .left, .mapBox .contactCon .left > *{
    text-align: center;
  }
  .mapBox .contactCon .left h3, .mapBox .contactCon .left article{
    align-items: center;
  }
  .mapBox .contactCon .left div{
    justify-content: center;
  }
  .mapBox .contactCon .right{
    margin: auto;
  }

  .aboutBox section,
  .blogBox section {
    height: auto;
    grid-template-columns: 1fr;
  }

  .blogBox section .left {
    height: 300px;
  }

  .aboutBox section .left {
    align-items: center;
    text-align: center;
  }

  .aboutBox section .left h3 {
    align-items: center;
  }

  .aboutBox section .right {
    height: 300px;
  }
}

@media all and (max-width:950px) {
  .showBox {
    grid-template-columns: 1fr;
  }

  .showBox article {
    margin: auto;
  }

  .showSwiper {
    height: 300px;
  }
}

@media all and (max-width:720px) {
  .headBox {
    width: calc(100% - 30px);
    margin: 15px;
    height: 70vh;
  }

  .headBoxConNav {
    width: max-content;
    margin: 0 auto;
    justify-content: center;
  }

  .headBoxConNav svg {
    display: flex;
    position: fixed;
    top: 15px;
    left: 15px;
    background: salmon;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    font-size: 1.8rem;
  }

  .headBoxConNav nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #fff;
    top: 10px;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    width: 150px;
    left: -170px;
    transition: 0.4s ease;
    z-index: 1000;
  }

  .headBoxCon article {
    max-width: 100%;
    text-align: center;
  }

  .headBoxConExplore {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}


@media all and (max-width:550px) {
  .featureBoxSwiper {
    height: 250px;
  }

  .aboutBox,
  .blogBox {
    gap: 1rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .aboutBox article {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .brochureBox .imgBox legend{
    top: calc(50% - 25px);
  }
  .brochureBox .imgBox{
    width: 80%;
  }
}

@media all and (max-width:450px) {
  .headBox {
    width: calc(100% - 20px);
    margin: 10px;
    height: 50vh;
  }

  .headBox article strong {
    font-size: 1.2rem;
  }

  .headBoxConNav svg {
    top: 10px;
    left: 10px;
  }

  .headBoxConExplore p span {
    font-size: 1rem;
  }

  .featureBox {
    width: calc(100% - 20px);
    padding: 0 10px 20px 10px;
  }

  .featureBoxSwiper {
    height: 230px;
  }

  .facilityBoxSwiper {
    width: 100%;
    height: 150px;
  }

  .facility {
    align-items: center;
    text-align: center;
  }
}

@media all and (max-width:300px) {
  .headBoxConNav .logoBox{
    width: 50px;
    height: 100%;
  }
  .nextBlog .imgBox {
    min-width: 100px;
  }
  .mapBox .contactCon .right form  div input, .mapBox .contactCon .right form div textarea{
    width: 180px;
  }
  .headBox {
    height: 55vh;
  }
}